.link-list {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.link-list-item {
  display: block;
  flex: 0 1 auto;
  margin-right: 25px;
}

.link-list-a {
  color: #222831;
  text-decoration: none;
}

.link-list-a:visited {
  color: #222831;
}

.link-list-a:hover {
  color: #f5f5f5;
}
