body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article article"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  height: 100vh;
}
